.button1,
.button2 {
    font-size: 28px;
    font-family: helvetica, "time new roman", sans-serif;
}

.button1 {
    background-color: black;
    color: white;
    font-weight: bold;
}

.button2 {
    background-color: yellow;
}